{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ produce.slug }}{% endblock %}

{% block content %}
  <h1>{{ produce.name }}</h1>
  <form class="form-horizontal col-md-4 offset-md-3" method="post"
        action="{% url 'produce:produce_update' produce.slug %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
