{% extends "base.html" %}
{% load static %}
{% block title %}request.user.username Produce{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}
{% else %}
{% endif %}


 <div class="container">
	<div class="row">
		<h1>{% if category %}{{ category.name }}{% else %}Produce{% endif %}</h1>
{#        <a class="btn btn-outline-success btn-lg" href="{% url 'orders:bulk_demand_create' %}">Bulk Order</a>#}
	</div>
    <hr>
    <div class="row row-margin-bottom">
    {% for product in produce %}
        <div class="col-md-5 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <a href="{{ product.get_absolute_url }}">
                          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="lib-row lib-header">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            GHS {{ product.price }} <br>{{ product.user.member.get_region_display }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
