{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %} {{ produce.name }} {% endblock %}

{% block content %}
 <div class="container" style="padding-top: 20px;">
            <div class="row row-margin-bottom">
                <div class="col-md-5 no-padding lib-item" data-category="view">
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="img col-md-6">
                                <img src="{% if produce.image %}{{ produce.image }}{% else %}{% static 'images/no_image.png' %}{% endif %}">
                                <h2><a href="{{ produce.category.get_absolute_url }}">{{ produce.category }}</a></h2>
                            </div>
                            <div class="col-md-6">
                                <div class="lib-row lib-header">
                                    <h1>{{ produce.name }}</h1>
                                    <div class="lib-header-seperator"></div>
                                </div>
                                <div class="lib-row lib-desc">
                                    <h2>{{ produce.category }}</h2>
                                    <p class="price">GHS {{ produce.price_max }}</p>
                                    <form action="{% url 'cart:cart_add' produce.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_produce_form|crispy }}
                                        <input type="submit" value="Add to cart">
                                    </form><hr>
                                    {{ produce.user.member.get_region_display }}<hr>
                                    Quantity in stock: {{ produce.total_stock }} {{ produce.unit }}<hr>
                                    Available from: {{ produce.availability }}<hr>
                                    description: {{ produce.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
    {% if produce in request.user.produce.all %}
        <a class="btn btn-primary" href="{% url 'produce:produce_update' produce.slug %}" role="button">Update</a>
    {% endif %}

{% endblock %}
