{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Members</h2>

  <div class="list-group">
    <ol>
        <li><h4><a class="list-group-item" href="{% url 'users:member_list' %}">All</a></h4>
        <li><h4><a class="list-group-item" href="{% url 'users:agent_list' %}">Agents</a></h4>
        <li><h4><a class="list-group-item" href="{% url 'users:consumer_list' %}">Consumers</a></h4>
        <li><h4><a class="list-group-item" href="{% url 'users:farmer_list' %}">Farmers</a></h4>
        <li><h4><a class="list-group-item" href="{% url 'users:retailer_list' %}">Retailers</a></h4>
        <li><h4><a class="list-group-item" href="{% url 'users:wholesaler_list' %}">Wholesalers</a></h4>
      </li>
    </ol>
  </div>
</div>
{% endblock content %}
