{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Members</h2>

  <div class="list-group">
    <ol>
    {% for member in members %}
{#        {% if member != request.user.username %}#}
        <li><a href="{% url 'users:member_detail' member.user.username %}">
            {{ member.user.username }}
            </a>
      <div class="list-group-item">
        <h4>{{ member.produce_names }}</h4>
      </div>
      </li>
{#        {% endif %}#}
    {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}
