{% extends "base.html" %}
{% load static i18n %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

{% if object != request.user %}
{#    {% redirect '403.html' %}#}

{% else %}

{#{% with request.user.member.is_consumer as is_consumer %}#}
{#{% with request.user.member.is_farmer as is_farmer %}#}
{#{% with request.user.member.is_agent as is_agent %}#}
{#{% with request.user.member.is_retailer as is_retailer %}#}
{% with is_consumer=request.user.member.is_consumer is_farmer=request.user.member.is_farmer is_agent=request.user.member.is_agent is_retailer=request.user.member.is_retailer is_wholesaler=request.user.member.is_wholesaler%}

<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>



<!-- Action buttons -->
<div class="row ">

  <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">
          {% trans 'My Info' %}
      </a>
      <a class="btn btn-primary" href="{% url 'users:member_detail' object.username %}"  role="button">
          {% trans 'My produce' %}
      </a>
      <!-- Your Stuff: Custom user template urls -->
      <a class="btn btn-primary" href="{% url 'produce:produce_create' %}"  role="button">
          {% trans 'Add produce' %}
      </a>
      {% if is_consumer or is_retailer or is_wholesaler %}
          <a class="btn btn-primary" href="{% url 'apply' %}"  role="button">
              {% trans 'Apply as an agent' %}
          </a>
      {% endif %}
  </div>

</div>
<!-- End Action buttons -->
</div>

 <div class="container" style="padding-top: 30px;">
  <div class="row">
    {% if is_consumer or is_retailer %}
        <div class="col-sm">
            <div class="card border-info" style="width: 20rem;">
              <div class="card-header">
                <h5>Recommended Produce</h5>
              </div>
                <ol class="list-group list-group-flush">
                  {% for prod in produce %}
                      <li class="list-group-item">
                          <a href="{% url 'produce:produce_detail' prod.slug %}">
                              {{ prod.name }} @ GHS {{ prod.price }}
                          </a>
                      </li>
                  {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}

    {% if is_agent or is_retailer or is_consumer %}
        <div class="col-sm">
            <div class="card border-success" style="width: 20rem;">
              <div class="card-header">
                <h5>Recommended Farmers</h5>
              </div>
                <ol class="list-group list-group-flush text-success">
                    <li class="list-group-item">Farmer 1</li>
                    <li class="list-group-item">Farmer 2</li>
                    <li class="list-group-item">Farmer 3</li>
                </ol>
            </div>
        </div>
    {% endif %}
    {% if is_farmer or is_agent %}
        <div class="col-sm">
            <div class="card border-danger" style="width: 20rem;">
              <div class="card-header">
                <h5>Transports close to you</h5>
              </div>
                <ol class="list-group list-group-flush text-danger">
                    <li class="list-group-item">Transport 1 departs at xxx</li>
                    <li class="list-group-item">Transport 2 departs at xxx</li>
                    <li class="list-group-item">Transport 3 departs at xxx</li>
                </ol>
            </div>
        </div>
    {% endif %}
  </div>
</div>
{% endwith %}
{#{% endwith %}#}
{#{% endwith %}#}
{#{% endwith %}#}

{% endif %}


{% endblock content %}

