{% extends "base.html" %}
{% load static i18n %}
{% block title %}Categories{% endblock %}

{% block content %}
<div class="container">
  <h2>Categories</h2>

  <div class="list-group">
    <ol>
    {% for cat in categories %}
        <li>
            <div class="list-group-item">
            <h4>
                <a href="{% url 'produce:category_detail' cat.slug %}">{{ cat.name }}</a>
            </h4>
            </div>
        </li>
    {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}
