{% extends "base.html" %}
{% load static i18n %}
{% block title %}Category Detail{% endblock %}

{% block content %}
<div class="container">
  <h2>{{ category.name }}</h2>

  <div class="list-group">
    <ol>
    {% for produce in category.produce_set.all %}
     <li>
      <a href="{% url 'produce:produce_detail' produce.slug %}" class="list-group-item">
        <h4>{{ produce.name }}</h4>
      </a>
      </li>
    {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}
