{% extends "base.html" %}
{% load static %}

{% block title %}Your Shopping Cart{% endblock %}

{% block content %}
{% include 'produce/subheader.html' %}

    <h1> Your shopping cart</h1>
    <div class="container">
        <table class="cart">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Unit price</th>
                    <th>Source location</th>
                    <th>Distance</th>
                    <th>Transportation cost</th>
                    <th>Cost of goods</th>
                    <th>Total cost</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with produce=item.produce %}
                        <tr>
                            <td>
                                <a href="{{ produce.get_absolute_url }}">
                                    <img src="{% if produce.image %}{{ produce.image }}
                                              {% else %}{% static "images/no_image.png" %}{% endif %}">
                                </a>
                            </td>
                            <td>{{ produce.name }}</td>
                            <td>
                                <form action="{% url "cart:cart_add" produce.id %}" method="post">
                                    {% csrf_token %}
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Update">
                                </form>
                            </td>
                            <td><a href="{% url 'cart:cart_remove' produce.id %}">Remove</a></td>
                            <td class="num">GHS {{ item.price }}</td>
                            <td>{{ item.closest_source_location }}</td>
                            <td class="num">{{ item.closest_source_distance }}</td>
                            <td class="num">{{ item.transportation_cost }}</td>
                            <td class="num">GHS {{ item.cost_of_goods }}</td>
                            <td class="num">GHS {{ item.total_cost }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr class="total">
                    <td>Total</td>
                    <td colspan="8"></td>
                    <td class="num">GHS {{ cart.get_total_cost }}</td>
                </tr>
            </tbody>
        </table>
        <p class="text-right">
            <a href="{% url 'produce:produce_collection_list' %}" class="button light">Continue shopping</a>
            <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
        </p>
    </div>
{% endblock %}
