{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Diadaa{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "fonts/fontawesome.min.css" %}" rel="stylesheet">

    {% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}
  </head>
  <body>

{#  Courtesy of https://github.com/kjdion84/bsadmin #}
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="sidebar-toggle text-light mr-3"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-at"></i>diaDaa</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                        <i class="fa fa-user"></i> {{ request.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'users:user_detail' request.user.username  %}">
                            {% trans "My Profile" %}
                        </a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">
                            {% trans "Sign Out" %}
                        </a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'account_login' %}">
                        <i class="fa fa-user"></i> {% trans 'Sign in' %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">
                        <i class="fa fa-user"></i> {% trans 'Sign Up' %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="d-flex">
    <nav class="sidebar bg-dark">
        <ul class="list-unstyled">
            <li><a href="{% url 'about' %}"><i class="fa fa-fw fa-info-circle"></i>About</a></li>
            <li><a href="{% url 'contact' %}"><i class="fa fa-fw fa-phone-square"></i>Contact Us</a></li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="#submenu1" data-toggle="collapse"><i class="fa fa-fw fa-cube"></i> Produce</a>
                <ul id="submenu1" class="list-unstyled collapse">
{#                    <li><a href="{% url 'produce:produce_list' %}">Produce List</a></li>#}
                    <li><a href="{% url 'produce:produce_collection_list' %}">Produce</a></li>
                    <li><a href="{% url 'produce:category_list' %}">Produce categories</a></li>
                    <li><a href="{% url 'orders:bulk_demand_create' %}">Bulk Order</a></li>
                </ul>
            </li>
            {% if request.user.is_staff %}
            <li>
                <a href="#submenu2" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i> Admin</a>
                <ul id="submenu2" class="list-unstyled collapse">
                    <li><a href="{% url 'analytics:home' %}">Analytics</a></li>
                    <li><a href="{% url 'users:member_type_list' %}">Members</a></li>
                    <li><a href="{% url 'logistics:transport_list' %}">Transport</a></li>
                </ul>
            </li>
            {% endif %}
{#            <li><a href="{% url 'apply' %}"><i class="fa fa-fw fa-angle-right"></i>#}
{#                {% trans 'Apply as an agent' %}#}
{#            </a></li>#}
{#            <li><a href="#"><i class="fa fa-fw fa-link"></i> Sidebar Link</a></li>#}
{#            <li><a href="#"><i class="fa fa-fw fa-link"></i> Sidebar Link</a></li>#}
            {% endif %}
        </ul>
    </nav>

    <div class="content p-4">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% block content %}{% endblock content %}
    </div>
</div>




    <!-- Footer -->
{#    <footer class="py-4 bg-dark">#}
{#      <div class="container">#}
{#        <p class="m-0 text-center text-white">Copyright &copy; diaDaa 2018</p>#}
{#      </div>#}
{#      <!-- /.container -->#}
{#    </footer>#}

    {% block modal %}{% endblock modal %}


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Custom JavaScript for this theme -->
      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'vendor/Chart.js/Chart.bundle.min.js' %}"></script>
      {% endcompress %}

    {% endblock javascript %}

  </body>
</html>
