{% extends "base.html" %}
{% load static i18n %}
{% block title %}Transportation{% endblock %}

{% block content %}
 <div class="container">
	<div class="row">
		<h1>Transport</h1>
	</div>
    <hr>
    <div class="row row-margin-bottom">
    {{% for transport in transports %}
        <div class="col-md-5 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <a href="{{ transport.get_absolute_url }}">
                          <img src="{% if transport.image %}{{ transport.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="lib-row lib-header">
                            <a href="{% url 'logistics:transport_detail' transport.vehicle_number %}">
                                {{ transport.vehicle_number }}
                            </a>
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            {{ transport.get_departure_region_display }}<hr>
                            leaves {{ transport.departure_location }}<hr>
                            @ {{ transport.time_of_departure }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
