{% extends "base.html" %}
{% load static i18n %}
{% block title %}Transport{% endblock %}

{% block content %}
<div class="container">
  <h2>{{ transport.vehicle_number }} [picture of vehicle :)]</h2>
  <div class="list-group">
    <ul>
        <li>Has a capacity of: {{ transport.capacity }}</li>
    {#  <li>Name: {{ transport.name_of_driver }}</li>#}
        <li>Departs from: {{ transport.location }} at {{ transport.departure_region }}</li>
        <li>Departs at: {{ transport.departure_time }}</li>
        <li>Arrives in {{ transport.get_arrival_location_display }} in the {{ transport.get_arrival_region_display }}</li>
        <li>Estimated time of journey is: {{ transport.eta }}</li>
        <li>Uses the : {{ transport.route }}</li>
        <li>Available stops are: {{ transport.available_stop }}</li>
        <li>Available on: {{ transport.availability }}</li>
    </ul>
  </div>

</div>
{% endblock content %}
