{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-outline-info" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}
