{% extends "base.html" %}

  {% block content %}
      <div class="container" style="padding-top: 20px;">
        <div class="jumbotron bg-info text-white" >
          <h1 class="display-3">diaDaa Marketplace!</h1>
          <p class="lead">A place where farmers and consumers connect.</p>
          <hr class="my-4">
          <p>Want to know more?.</p>
          <p class="lead">
            <a class="btn btn-outline-danger btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
  {% endblock content %}
