{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>{{ item.quantity }}x {{ item.produce.name }}
                    <span>{{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: GHS {{ cart.get_total_price }}</p>
    </div>
    <div class="container-fluid">
        <form method="post" action="." class="order-form">
            {% csrf_token %}
            {{ form|crispy }}
            <p><input type="submit" value="Place order"></p>
        </form>
    </div>
{% endblock %}
