<div class="row">
  <div class="col-sm-6">
	<div class="card text" style="width: 30rem;">
	  <div class="card-body">
	    {{ produce_chart.as_html }}
	    <p class="card-text">{{ produce_info }}</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    {{ produce_caption }}
	  </div>
	</div>
  </div>
