{% extends "base.html" %}
{% load static i18n %}
{% load jchart %}
{% block title %}Charts{% endblock %}

{% block content %}


<div class="row">
  <div class="col-6">
	<div class="card text-center" style="width: 20rem;">
	  <div class="card-header">
	    Title:
	  </div>
	  <div class="card-body">
	    {{ polar_chart.as_html }}
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    caption
	  </div>
	</div>
  </div>


  <div class="col-6">
	<div class="card text-center" style="width: 20rem;">
	  <div class="card-header">
	    Featured
	  </div>
	  <div class="card-body">
	    <h4 class="card-title">Bar plot</h4>
	    {{ bar_chart.as_html }}
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    2 days ago
	  </div>
	</div>
  </div>

<div class="row">
  <div class="col-6">
	<div class="card text-center" style="width: 30rem;">
	  <div class="card-header">
	    Example Chart
	  </div>
	  <div class="card-body">
	    {{ bubble_chart.as_html }}
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="{% url 'analytics:example_charts' %}" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    caption
	  </div>
	</div>
  </div>

</div>


{% endblock %}
