{% extends "base.html" %}
{% load jchart %}
{% block title %}Dashboards{% endblock %}

{% block content %}
{% if not request.user.is_staff %}
{#    {% include '404.html' %}#}
{% else %}
 <div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-sm">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            {{ produce_chart.as_html }}
            <p class="card-text">{{ produce_info }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            {{ produce_caption }}
          </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            {{ rating_chart.as_html }}
            <p class="card-text">{{ rating_info }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            {{ rating_caption }}
          </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            {{ inventory_chart.as_html }}
            <p class="card-text">{{ inventory_info }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            {{ inventory_caption }}
          </div>
        </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}


{#{% block content %}#}
{##}
{# <div class="container" style="padding-top: 30px;">#}
{#  <div class="row">#}
{#  {% for chart in charts %}#}
{#    <div class="col-sm">#}
{#        <div class="card" style="width: 20rem;">#}
{#          <div class="card-body">#}
{#            {{ chart.chart.as_html }}#}
{#            <p class="card-text">{{ chart.info }}</p>#}
{#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#          </div>#}
{#          <div class="card-footer text-muted">#}
{#            {{ chart.caption }}#}
{#          </div>#}
{#        </div>#}
{#    </div>#}
{#  {% endfor %}#}
{#  </div>#}
{#</div>#}
{##}
{#{% endblock %}#}
