{% extends "base.html" %}
{% load static i18n %}
{% load jchart %}
{% block title %}Analytics{% endblock %}

{% block content %}
{% if not request.user.is_staff %}
{#    {% include '404.html' %}#}
{% else %}
<h4>View member dashboards</h4>

<div class="container">
  <div class="list-group">
    <ol>
    {% for user in users %}
        <li class="list-group-item"><a href="{% url 'analytics:dashboard' user.username %}">
            <h4>{{ user.username }}</h4>
      </li>
    {% endfor %}
    </ol>
  </div>
</div>
{% endif %}
{% endblock %}
